<section class = "categories min-vh-100">
    <div class = "container-lg">
        <div class = "row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            <% Category.all.each do |cat| %>
            <div class = "col">
            <%= link_to cat.name, products_path(category: cat.name), class: 'centered text-white h1' %>
            <%=image_tag "#{cat.name}.jpeg", alt: "Guitar", class:"category-item img-fluid"%>
            </div>
            <% end %>
        </div>
    </div>
</section>