// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.categories {
    background-color: #080202;
    padding: 80px 0;
}

.category-item {
    padding: 20px;
}

.col:hover {
    transform: translateY(8px) scale(1.05) translateZ(0);
}

.login {
    background-color: #080202;
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }