// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card:hover {
    transform: translateY(8px) scale(1.05) translateZ(0);
    box-shadow: 0 24px 26px rgba(0, 0, 0, 0.15);
}

.products {
    background-color: #080202;
}

.hero-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-body {
    background-color: #ab946f
}

.btn {
    color: blue
}

.showproduct {
    background-color: #080202;
}