<h1><%=current_user.email%></h1>
<h1><%=current_user.user_profile.first_name%></h1>
<h1><%=current_user.user_profile.last_name%>
<%=link_to "Edit", user_profile_edit_path, class: "btn btn-warning mr-3"%>

